<!DOCTYPE html>
<html lang="en">
<head>

    <title>XBE Analytics</title>

    <link rel="stylesheet"
    href="{{ url_for('static', filename='css/style.css') }}">

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

</head>
<body>

{% include 'components/sidebar.html' %}

<div class="main">

    <h1>Analytics</h1>

    <div class="chart-card">
        <canvas id="myChart"></canvas>
    </div>

</div>

<script>

const ctx = document.getElementById('myChart');

new Chart(ctx, {
    type: 'line',

    data: {
        labels: [
            'Mon',
            'Tue',
            'Wed',
            'Thu',
            'Fri',
            'Sat',
            'Sun'
        ],

        datasets: [{
            label: 'Users',
            data: [120, 190, 300, 500, 200, 300, 700],

            tension: 0.4
        }]
    },

    options: {
        responsive: true
    }
});

</script>

</body>
</html>
